@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), url(https://themes.googleusercontent.com/static/fonts/cousine/v7/CJJ-BXzwL4jWItOg5qolAA.woff) format('woff');
}
body {
    font-family: 'Cousine', monospace;
    font-size: 14px;
    margin: 8px;
}
h1 {
    color: #BCDDEC;
    font-size: 30px;
}
pre {
    font-size: 12px;
    color: lightsteelblue;
}
table {
    width: 100%;
    border-spacing: 0px;
    margin: auto;
    background-color: #AEE8CC;
}
tr:nth-child(2n) {
    background-color: #DAEBE3;
}
thead {
    background-color: #02918F;
    line-height: 24px;
}
.dynatable-active-page {
    background-color: #AEE8CC;
    color: darkcyan;
    font-weight: bold;
}
.dynatable-record-count {
    margin-top: 15px;
}
#base {
    display: none;
}
.horizScroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.album {
    max-width: 256px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 20px;
}
.album img {
    height: 256px;
    display: block;
    margin: auto auto 0 auto;
}
.album .title {
    display: block;
    font-size: 20px;
    line-height: 17px;
    color: #00948a;
    margin: 4px 0;
    white-space: normal;
}
.album .artist {
    display: block;
    color: #666;
}